@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #1f3e72;
$secondary: rgba(255, 255, 255, 0.78);
$black: #131110;
$blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
$orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
$blue: #4066ff;
$lightBlue: #eeeeff;
$shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 13px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: $blue-gradient;
  border-radius: 10px;
}

.btn {
  @apply py-3 px-5 rounded-lg text-white hover:text-slate-200 hover:scale-110 font-semibold;
  transition: 0.3s all ease-in-out;
}
.bg-blue-gradient {
  background-image: $blue-gradient !important;
}
.bg-orange-gradient {
  background-image: $orange-gradient !important;
}
.swiper-card:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(136, 160, 255, 0.46) 217.91%) !important;
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}
.swiper-horizontal {
  overflow: visible !important;
}
.glow {
  clip-path: polygon(0px 0px, 100% 0px, 300.75% 82.27%, -10px 98.66%);
}
.accordion-shadow {
  box-shadow: $shadow !important;
  border-radius: 6px;
}
img {
  user-select: none !important;
}
.menuTransition {
  transition: 0.4s all ease-in-out;
}
a {
  color: inherit;
  text-decoration: none;
}
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}
.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .orangeText {
    font-size: 1.2rem;
  }
  .glow {
    clip-path: polygon(0px 0px, 100% 0px, 700.75% 82.27%, -10px 98.66%);
  }
}
